<header class="header">Invoice Header - Company Name</header>
<footer class="footer">Footer</footer>
  
<main>
    <% 15.times do |i| %>
        <div class="page break-inside-avoid h-48 bg-amber-400 mb-2 last:mb-0 w-full">ITEM <%= i + 1 %></div>
    <% end %>
</main>